<!--<div class="color-line"></div>-->

<!--<div class="pull-left m">
    <a ui-sref="dashboard" class="btn btn-primary">Back to Dashboard</a>
</div>-->

<div class="login-container" animate-panel effect="zoomIn"ng-controller="registerController as Login">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>PLEASE LOGIN TO APP</h3>
                <small style="color:red">{{Login.errorsmessages}}</small>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <form action="#" id="loginForm"> <!--ng-submit="Login.login()">-->
                        <div class="form-group">
                            <label class="control-label" for="username">Username</label>
                            <input type="text" placeholder="example@gmail.com" title="Please enter you username" ng-model="Login.model.UserName" required="" value="" name="username" id="username" class="form-control">
                            <!--<span class="help-block small">Your unique username to app</span>-->
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="password">Password</label>
                            <input type="password" title="Please enter your password" placeholder="******" ng-model="Login.model.Password" required="" value="" name="password" id="password" class="form-control">
                            <!--<span class="help-block small">Yur strong password</span>-->
                        </div>
                        <div class="form-group">
                            <a style="font-style:italic; text-decoration:underline;">Forgot Password!</a>
                        </div>
                        <!--<div class="checkbox">
                            <input icheck type="checkbox" ng-model="remember" ng-init="remember = true">
                            Remember login
                            <p class="help-block small">(if this is a private computer)</p>
                        </div>-->
                        <!--<button class="btn btn-success btn-block">Login</button>--><!--This will mak the page load and we do not want or need that-->
                        <a class="btn btn-success btn-block" ng-click="Login.login()">Login</a>
                        <a class="btn btn-default btn-block" ui-sref="common.register">Register</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="row">
        <div class="col-md-12 text-center">
            <strong>HOMER</strong> - AngularJS Responsive WebApp <br /> 2015 Copyright Company Name
        </div>
    </div>-->
</div>
