<!--<div class="color-line"></div>
<div class="pull-left m">
    <a ui-sref="dashboard" class="btn btn-primary">Back to Dashboard</a>
</div>-->
<div class="register-container" animate-panel effect="zoomIn" ng-controller="registerController as Account">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>Registration</h3>
                <small>{{Account.message}} </small>
                <div class="row"></div>
                <small style="color:blue">{{Account.errorsmessages}} </small>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <form action="#" id="loginForm">
                        <!--ng-submit="Account.register()">-->
                        <div class="row">
                            <div class="form-group col-lg-12">
                                <label>Name</label>
                                <input type="text" ng-model="Account.model.Name" placeholder="Name" value="" id="" class="form-control" name="">
                            </div>
                            <!--<div class="form-group col-lg-12">
                                <label>Username</label>
                                <input type="text" ng-model="Account.model.Username" placeholder="Username" value="" id="" class="form-control" name="">
                            </div>-->
                            <div class="form-group col-lg-6">
                                <label>Email Address</label>
                                <input type="email" ng-model="Account.model.Email" value="" id="" class="form-control" name="">
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Repeat Email Address</label>
                                <input type="email" ng-model="Account.model.EmailConfirmation" value="" id="" class="form-control" name="">
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Password</label>
                                <input type="password" ng-model="Account.model.Password" value="" id="" class="form-control" name="">
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Repeat Password</label>
                                <input type="password" ng-model="Account.model.ConfirmPassword" value="" id="" class="form-control" name="">
                            </div>

                            <div class="checkbox col-lg-12">
                                <input icheck type="checkbox" ng-model="remember" ng-init="remember = true">
                                Sigh up for our newsletter
                            </div>
                        </div>
                        <div class="text-center">
                            <!--This will mak the page load and we do not want or need that-->
                            <!--<button class="btn btn-success" ng-disabled="Account.model.Password != Account.model.ConfirmPassword || Account.model.Email != Account.model.EmailConfirmation">Account</button>-->
                            <a class="btn btn-success" ng-click="Account.register()" ng-disabled="Account.model.Password != Account.model.ConfirmPassword || Account.model.Email != Account.model.EmailConfirmation">Register</a>
                            <button class="btn btn-default" ui-sref="common.login">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="row">
        <div class="col-md-12 text-center">
            <strong>HOMER</strong> - AngularJS Responsive WebApp <br /> 2015 Copyright Company Name
        </div>
    </div>-->
</div>
