<!--<div class="color-line"></div>-->

<!--<div class="pull-left m">
    <a ui-sref="dashboard" class="btn btn-primary">Back to Dashboard</a>
</div>-->

<div class="login-container" animate-panel effect="zoomIn" ng-controller="resetpasswordController as restpassCTRL">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>Please Type the new Password for {{restpassCTRL.UserName}}</h3>
                <small style="color:red">{{restpassCTRL.errorsmessages}}</small>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <form action="#" id="loginForm">
                        <!--ng-submit="Login.login()">-->
                        <div class="form-group">
                            <label class="control-label" for="password">Password</label>
                            <input type="text" placeholder="******" title="Please enter you new Password" ng-model="restpassCTRL.model.Password" required="" value="" name="password" id="password" class="form-control">
                            <!--<span class="help-block small">Your unique username to app</span>-->
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="passwordconfirmation">Password Confirmation</label>
                            <input type="password" title="Please confirm your new password" placeholder="******" ng-model="restpassCTRL.model.PasswordConfirmation" required="" value="" name="passwordconfirmation" id="passwordconfirmation" class="form-control">
                            <!--<span class="help-block small">Yur strong password</span>-->
                        </div>
                        <a class="btn btn-default btn-block" ui-sref="common.login">Cancel</a>
                        <a class="btn btn-success btn-block" ng-click="restpassCTRL.ResetPassword()">Reset Password</a>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="row">
        <div class="col-md-12 text-center">
            <strong>HOMER</strong> - AngularJS Responsive WebApp <br /> 2015 Copyright Company Name
        </div>
    </div>-->
</div>
